.navBar {
    position: fixed;
    top: 0;
    background-color: green;
    height: 65px;
    width: 100%;
    z-index: 2;
    min-width: 250px;
}

#homeLogo {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#searchForm {
    float: left;
    margin-left: 10vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

#searchInputId {
    width: 30vw;
}

#searchButtonId {
    width: 60px;
    margin-left: -60px;
}

.navBarIconContainer {
    margin-top: 20px;
    float: right;
    margin-right: 15px;
}

.navBarIcons {
    width: 25px;
    height: 25px;
}

#profileIcon {
    border-radius: 50%;
}

.menuIcon {
    display: none;
    position: absolute;
    font-size: xx-large;
    color: white;
    top: 10px;
    left: 10px;
}

@media only screen and (max-width: 600px) {
    .menuIcon {
        display: inline;
        cursor: pointer;
    }
    
    #searchForm {
        display: none;
    }

    #homeLogo {
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 60px;
    }
}